<nav class="navbar navbar-light bg-light mr-auto">
    <form class="form-inline" action="">
        <select name="status_search" class="form-control mr-2" aria-label="Search">
            <option value="" selected>Todos</option>
            <option value="Propuesta">Propuesta</option>
            <option value="En progreso">En Progreso</option>
            <option value="Terminado">Terminado</option>
        </select>
        <button class="btn btn-success my-2" type="submit"> <i class="fas fa-search"></i></button>
    </form>
</nav>